<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>analytic-elements Demo</title>


</head>
<body unresolved>

    <h3>Analytic Element Demos (Depend on localhost default solr install running examples/start.jar with all tutorial data loaded)</h3>
    <a href="smoke/app.html">App</a><br>
    <a href="smoke/dashboard-solr.html">Dashboard SOLR</a><br>
    <a href="smoke/dashboard-json.html">Dashboard SOLR (loaded from json definition)</a><br>
    <a href="smoke/dashboards.html">Dashboards</a><br>


</body>
</html>
